@font-face {
  font-family: 'Gotham';
  src: url('Gotham-Medium.otf')  format('opentype');
 }
h1{
	margin:6px;
}
h2{
	margin:6px;
	font-size: 2em;
}
h3{
	margin:6px;
	font-size: 1.8em;
}
.marker {
  background-image:url('tooth.png');
  background-size: cover;
  /* background-color: black; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
	border:2px solid black;
	transform-origin: center;
	transform:rotate(-2deg) translate(-15px,-10px);
	margin:20px 0;
	background: hsl(55, 89%, 61%);
	overflow-x: visible;
	padding:10px;
	box-shadow: 2px 2px 3px rgba(26,26,26,0.4);
	transition:background-color 1s;
}
.listItem{
	/* background-color: white; */
}
.activeInfo{
	display:block;
}
.sidebar-header{
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	width:100%;
	text-align: center;
	color:white;
	background-color: rgba(26,26,26,0.9);
	background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content > a{
	text-decoration: none;
	font-size: 1.5em;
	color:black;
}
.mapboxgl-popup-content > a:hover{
	color: tomato;
}

.sidebar{
	position: absolute;
	width:100%;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	height:100vh;
	flex-direction: column;
	z-index:99999;
	display:flex;
	align-items: center;
	justify-content: flex-start;
	font-family: 'Gotham';
	height:100px;
}
ul{
	margin:0;
	overflow-y:auto;
	overflow: scroll;
	position:relative;
}
li{
	list-style: none;
	display:block;
	overflow: hidden;
	cursor:pointer;
	margin:5px;
	padding:5px;
	display:flex;
	flex-direction: column;
	z-index:-1;
}
li>span{
	display:block;
}
.address{
	width:250px;
}
.extraInfo{
	display:none;
}

.categories>div{
	padding:10px 20px;
	border-radius:20px;
	user-select: none;
	cursor:pointer;
}
@media screen and (min-width:660px) {
	.mapbox{
		position: 'absolute';
		top: 0 !important;
		bottom: 0 !important;
		left:40% !important;
		width: 60% !important;
	}
	.sidebar{
		/* position: absolute; */
		width:40%;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
		height:100vh;
		flex-direction: column;
		z-index:99999;
		display:flex;
		align-items: center;
		font-family: 'Gotham';
	}
	h1{
		margin:14px;
	}
	h2{
		margin:14px;
		font-size: 2em;
	}
	h3{
		margin:14px;
		font-size: 1.8em;
	}
}
